<% provide(:title, "Catalog") %>

<div class="container">
	<div class="jumbotron">
		<h1>Catalog</h1>
	</div>
	<div class="row">
		<div class="col-xs-3" id="myScrollSpy">
			<ul class="nav nav-tabs nav-stacked" data-spy="affix" data-offset-top="250">
				<li class="active"><a href="#Glaxo">GlaxoSmithKline</a></li>
				<li><a href="#Johnson">Johnson & Johnson</a></li>
				<li><a href="#Procter">Procter & Gamble</a></li>
			</ul>
		</div>
		<div class="row row-catalog">
			<div class="col-md-9 col-md-offset-3">
				<h2 class="subhead" id="Glaxo">GlaxoSmithKline</h2>
				<div>
					<% @glaxo.each do |product| %>
					<div class="col-md-4" id="books">
						<%= image_tag product.shopphoto.url(:square) %></br>
						<%= link_to product.title, product, class: "subhead2" %>
					</div>
					<% end %>
				</div>
			</div>
		</div>
		<div class="row row-catalog">
			<div class="col-md-9 col-md-offset-3">
				<h2 class="subhead" id="Johnson">Johnson & Johnson</h2>
				<% @johnson.each do |product| %>
				<div class="col-md-4" id="books">
					<%= image_tag product.shopphoto.url(:square) %></br>
					<%= link_to product.title, product, class: "subhead2" %>
				</div>
				<% end %>
			</div>
		</div>
		<div class="row row-catalog">
			<div class="col-md-9 col-md-offset-3">
				<h2 class="subhead" id="Procter">Procter & Gamble</h2>
				<% @pg.each do |product| %>
				<div class="col-md-4" id="books">
					<%= image_tag product.shopphoto.url(:square) %></br>
					<%= link_to product.title, product, class: "subhead2" %>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>



		
		