<% provide(:title, "Catalog") %>

<div class="container">
	<div class="jumbotron">
		<h1>Catalog</h1>
	</div>
	<div class="row">
		<div class="col-xs-3" id"myScrollSpy">
			<ul class="nav nav-tabs nav-stacked" data-spy="affix" data-offset-top="125">
				<li class="active"><a href="#Books">Books</a></li>
				<li><a href="#Medicine">Medicine</a></li>
				<li><a href="#Accessories">Accessories</a></li>
			</ul>
		</div>
		<div class="row row-catalog" id="Books">
			<div class="col-md-9 col-md-offset-3">
				<% @books.each do |product| %>
				<div class="col-md-4" id="books">
					<%= image_tag product.shopphoto.url(:square) %></br>
					<%= link_to product.category, product %>
					<%= product.brand %>
				</div>
				<% end %>
			</div>
		</div>
		<div class="row row-catalog" id="Medicine">
			<div class="col-md-9 col-md-offset-3">
				<% @medicine.each do |product| %>
				<div class="col-md-4" id="books">
					<%= image_tag product.shopphoto.url(:square) %></br>
					<%= link_to product.category, product %>
					<%= product.brand %>
				</div>
				<% end %>
			</div>
		</div>
		<div class="row row-catalog" id="Accessories">
			<div class="col-md-9 col-md-offset-3">
				<% @accessories.each do |product| %>
				<div class="col-md-4" id="books">
					<%= image_tag product.shopphoto.url(:square) %></br>
					<%= link_to product.category, product %>
					<%= product.brand %>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>



		
		