<% provide(:title, "Catalog") %>

<div class="container">
	<div class="jumbotron">
		<h1>Catalog</h1>
	</div>
	<div class="row">
		<div class="col-xs-3" id="myScrollSpy">
			<div class="cartbutton" data-spy="affix" data-offset-top="250">
				<%= button_to 'Cart', order_path(@order, :id => session[:order_id]),remote: true, method: :get, class: "btn btn-primary", type: 'button' %>
			</div>
			<ul class="nav nav-tabs nav-stacked" data-spy="affix" data-offset-top="250">
				<li class="active"><a href="#glaxo">GlaxoSmithKline</a></li>
				<li><a href="#corelle">Corelle</a></li>
				
			</ul>
		</div>
		<% Brand.all.each do |brand| %>
		<div class="row row-catalog">
			<div class="col-md-9 col-md-offset-3">
				<div class="subheader">
					<h2 class="subhead" id="<%= brand.html_id %>"><%= brand.name %></h2>	
				</div>			
				<% brand.products.each do |product| %>
				<div class="col-md-4" id="books">
					<%= link_to image_tag(product.syahrilpics.url(:square)), product, remote: true, data: { target: 'modal', toggle: "tooltip", placement: "top"}, title: "Click here to add to cart" %></br>
					<%= product.title %><br/>
					<%= print_price(product.price) %>
				</div>
				<% end %>				
			</div>
		</div>
		<% end %>
	</div>
</div>

<%= render "layouts/modal" %>



		
		